<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DemoHocSinhConnectionString"
            connectionString="Data Source=Doug912\SQLEXPRESS;Initial Catalog=DemoHocSinh;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>