<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyDiemHS.Properties.Settings.DemoHocSinhConnectionString"
            connectionString="Data Source=Doug912\SQLEXPRESS;Initial Catalog=DemoHocSinh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>